footer{
	width: 100%;
	float: left;
	.top__line{
		width: 100%;
		float: left;
		background-color: #191E0E;
		padding: 30px 0 50px;
	}
	.footer__nav{
		float: left;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			float: left;
			li{
				float: left;
				margin: 0  0 0 50px;
				a{
					font-size: 14px;
					line-height: 21px;
					letter-spacing: 0.02em;
					color: #fff;
					padding: 13px 0;
					display: block;
					position: relative;
					overflow: hidden;
					&::after{
						content: '';
						position: absolute;
						width: 100%;
						height: 2px;
						display: block;
						background-color: #A4CD39;
						left: -100%;
						bottom: 8px;
						z-index: 1;
						-webkit-transition: all 0.5s ease;
	        					transition: all 0.5s ease;
					}
					&:hover{
						text-decoration: none;
						&::after{
							left: 0;
						}
					}
				}
			}
		}
	}
	.bottom__line{
		width: 100%;
		height: 52px;
		float: left;
		background-color: #141807;
		.copyright{
			margin: 15px 0 16px;
			p{
				font-size: 14px;
				line-height: 21px;
				color: #fff;
				opacity: 0.6;
				letter-spacing: 0.02em;
				margin-bottom: 0;
			}
		}
	}
}
.social__block{
	margin-top: 12px;
	h6{
		float: left;
		margin-bottom: 0;
		margin-right: 6px;
		margin-top: 4px;
		color: #fff;
		font-weight: 700;
	}
	a{
		display: block;
		width: 28px;
		height: 28px;
		float: left;
		margin-left: 10px;
		cursor: pointer;
		background: #A4CD39;
		border-radius: 1px;
		position: relative;
		&::after{
			content: '';
			position: absolute;
			display: block;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
		}
		&.instagram{
			&::after{
				width: 18px;
				height: 18px;
				background-image: url('../images/icon-instagram.svg');
			}
		}
		&.facebook{
			&::after{
				width: 9px;
				height: 16px;
				background-image: url('../images/icon-facebook.svg');
			}
		}
		&:hover{
			border-radius: 50%;
		}
	}
}