body{
	&.admin-bar{
		header{
			top: 32px;
		}
	}
}
header{
	width: 100%;
	float: left;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	.nav__block{
		height: 80px;
		float: left;
		padding: 0 25px;
		background-color: #fff;
	}
	.logo{
		float: left;
		margin: 16px 34px 16px 0;
	}
	.menu__block{
		float: left;
	}
	.main__nav{
		float: left;
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				padding: 0 20px;
				float: left;
				position: relative;
				&.current-menu-item{
					a::after{
						left: 0;
					}
				}
				a{
					display: block;
					float: left;
					padding: 28px 0;
					font-size: 16px;
					line-height: 24px;
					letter-spacing: 0.02em;
					color: #2B2F22;
					position: relative;
					overflow: hidden;
					z-index: 2;
					&::after{
						content: '';
						position: absolute;
						width: 100%;
						height: 2px;
						display: block;
						background-color: #A4CD39;
						left: -100%;
						bottom: 23px;
						z-index: 1;
						-webkit-transition: all 0.5s ease;
	        					transition: all 0.5s ease;
					}
					&:hover{
						text-decoration: none;
						&::after{
							left: 0;
						}
					}
				}
			}
		}
	}
}
.mobile__btn{
	width: 40px;
	height: 30px;
	display: block;
	position: relative;
	margin: 24px 0 0;
	cursor: pointer;
	display: none;
	span{
		position: absolute;
		width: 100%;
		height: 4px;
		display: block;
		left: 0;
		background-color: #A4CD39;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&:nth-child(1){
            top: 0px;
        }
        &:nth-child(2){
            top: 12px;
        }
        &:nth-child(3){
            top: 24px;
        }

	}
	&.show{
		span{
			&:nth-child(1){
                top: 12px;
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
            }
            &:nth-child(2){
                opacity: 0;
                left: -30px;
            }
            &:nth-child(3){
                top: 12px;
                -webkit-transform: rotate(-135deg);
                transform: rotate(-135deg);
            }
		}
	}
}
@include media-breakpoint-down(md){
	body.admin-bar{
		header .menu__block{
			&.show{
				top: 112px;
			}
		}
	}
	.mobile__btn{
		display: block;
	}
	header{
		background-color: #fff;
		.nav__block{
			width: 100%;
			padding: 0;
		}

		.menu__block{
			position: fixed;
			left: 0;
			top: -100%;
			height: 100%;
			width: 100%;
			background-color: #fff;
			padding-top: 80px;
			z-index: -1;
			-webkit-transition: all 0.6s ease;
					transition: all 0.6s ease;
			&.show{
				top: 0;
			}
			.main__nav{
				width: 100%;
				float: left;
				margin-top: 100px;
				ul{
					width: 100%;
					float: left;
					li{
						width: 100%;
						float: left;
						text-align: center;
						a{
							width: auto;
							display: inline-block;
							text-align: center;
							padding: 15px 0;
							font-size: 18px;
							font-weight: 600;
							&::after{
								bottom: 10px;
							}
						}
					}
				}
			}
		}
	}

}